<div>
    <table class="table">
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>MSRP</th>
            <th>Percentage</th>
            <th>Our Price</th>
            <th>Label</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{ item.ItemId }}</td>
            <td>{{ item.Description }}</td>
            <td>{{ item.ItemQuantity }}</td>
            <td class="price"><mat-form-field >
              <mat-label>Enter MSRP</mat-label>
                <input matInput type="text" placeholder="Enter MSRP" [(ngModel)]="item.SellPrice">
              </mat-form-field>
            </td>
            <td class="price"><mat-form-field >
              <mat-label>Enter Percentage of MSRP</mat-label>
                <input matInput type="text" placeholder="Enter Percentage" [(ngModel)]="item.SalvagePercentage" (keyup)="changePrice(item,'percentage')">
              </mat-form-field>
            </td>
            <!-- <td class="price store-price">{{ item.salvage_amount }}</td> -->
            <!-- <td><input type="text" class = "form-control-2" placeholder="Enter store S.P" [(ngModel)] = "item.SalvageAmount" (keyup.enter) = "onPrintLabel(item)"></td> -->
            <td>
              <mat-form-field >
                <mat-label>Enter Store Price</mat-label>
                <input matInput type="text" placeholder="Enter Store Price" [(ngModel)]="item.SalvageAmount" (keyup)="changePrice(item,'price')">
              </mat-form-field>
            </td>
            <td><button class="btn btn-success" (click) = "onPrintLabel(item)">Print Label</button></td>
          </tr>
        </tbody>
      </table>
</div>
