mat-form-field {
    margin: 10px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .mat-mdc-dialog-actions {
      margin-top: 76px;
      margin-left: 408px;
  }
  
  .mat-mdc-dialog-title {
    padding: 0px 0px 10px 35px;
  }
  