mat-form-field {
  margin: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.mat-mdc-dialog-actions {
  /* margin-top: 76px;
  margin-left: 408px; */
  float: right;
}

.mat-mdc-dialog-content{
    padding: 0px 20px 0px 20px;
    color: black;
}

.mat-mdc-dialog-title {
    text-align: center;
}

h3 {
  margin-left: 35px;
}
.label-printer-actions {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  box-sizing: border-box;
}

#barcode{
  margin-left: 22%;
}

@media print {
    .label-printer-actions {
      display: none;
    }
  }