<!DOCTYPE html>
<mat-dialog-content class = "mat-dialog-content">
    <div>
        <h2 mat-dialog-title>Pinnacle-Wholesale</h2>
        <p>Item Number: {{ data.item_id }}</p>
        <div class = "row mat-dialog-actions">
            <p class="col">MSRP: {{ data.SellPrice }}</p>
            <p class="col">Our Price: {{ data.SalvageAmount }}</p>
        </div>
    </div>
    <!-- <h3>Barcode</h3> -->
    <div ><svg id="barcode"></svg></div>
    <mat-dialog-actions>
        <div class="label-printer-actions">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="printBarcode('Test Print')">Print</button>
        </div>
    </mat-dialog-actions>
</mat-dialog-content>