<div class="container">
    <div class="header">
      <h2>New Stock</h2>
      <button class="btn btn-primary" (click)="openDialog()">Add Item to the Barcode</button>
    </div>
  
    <div class="upload-section">
      <button class="btn btn-success">Upload PDF</button>
      <span>Received_items.Pdf</span>
    </div>
  
    <div class="filter-section input-group mb-3">
      <input type="text" #search placeholder="Search Item ID" class="form-control" (keyup.enter)="searchItem(search.value)" />
      <button [class]="isSearchDisabled ? 'btn search-btn' : 'btn btn-primary search-btn'" type="button" (click)="searchItem(search.value)" [disabled]="isSearchDisabled">Search</button>
    </div>
  
    <span>Received items: {{ totalCount }}</span>

    <table class="table">
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>Item ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Actual S.P.</th>
          <th>Store S.P.</th>
          <th>Label</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <!-- <td><input type="checkbox" /></td> -->
          <td>{{ item.item_id }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.quantity }}</td>
          <td class="price">{{ item.ext_sell_price }}</td>
          <!-- <td class="price store-price">{{ item.salvage_amount }}</td> -->
          <td><input type="text" class = "form-control-2" placeholder="Enter store S.P" [(ngModel)] = "item.salvage_amount" (keyup.enter) = "onPrintLabel(item)"></td>
          <td><button class="btn btn-success" (click) = "onPrintLabel(item)">Print Label</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  