.container {
  /* width: 98%; */
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.upload-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.search-btn {
  margin-left: 10px;
  width: 100px;
}

.upload-section .btn {
  margin-right: 10px;
}

.filter-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 20px;
}

.filters {
  display: flex;
  gap: 10px;
}

#received-items{
  font-size:medium;
  padding: 3px;
}
#totalCount{
  color: #007bff;
}

.table {
  margin-left: 5%;
  width: 90%;
  border-collapse: collapse;
}

.table thead th {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table tbody td.price {
  color: blue;
}

.table tbody td.store-price {
  color: red;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.form-control {
  padding: 5px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-control-2 {
  padding: 5px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.mat-mdc-dialog-content .mdc-dialog__content {
  position:fixed;
}

.mat-mdc-dialog-actions .mdc-dialog__actions{

  display: flex;
  justify-content: flex-end;
}

