<!DOCTYPE html>
<div class="container">
    <div class="header">
      <app-logo-canvas></app-logo-canvas>

    </div>
    <div class="upload-section">
      <div><app-ocr-upload (loadImportedData)="ngOnInit()"></app-ocr-upload></div>
      <button class="btn btn-primary" (click)="printerStatus()">Check Printer Status</button>
    </div>
    <div class="filter-section input-group mb-3">
      <div>
        <input type="text" #search placeholder="Search Barcode" class="form-control" (keyup.enter)="searchItem(search.value)" />
      <button [class]="isSearchDisabled ? 'btn search-btn' : 'btn btn-primary search-btn'" type="button"
        (click)="searchItem(search.value)" [disabled]="isSearchDisabled">Search</button>
      </div>
      <div class="row">
        <span >Total Quantity:<span id = "totalQuant">{{ totalQuant }}</span></span>
        <span id="received-items">Received items: <span id = "totalCount">{{ totalCount }}</span></span>
      </div>
    </div>



    <div *ngIf = "isLabelPrinter">
      <app-zebra-label-printer [items] = "labelItem" (labelPrinted)="labelPrinted()"></app-zebra-label-printer>
    </div>
    <div *ngIf = "!isLabelPrinter">
      <table class="table">
        <thead>
          <tr>
            <!-- <th></th> -->
            <th>Item ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>MSRP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <!-- <td><input type="checkbox" /></td> -->
            <td>{{ item.ItemId }}</td>
            <td>{{ item.Description | titlecase }}</td>
            <td>{{ item.ItemQuantity }}</td>
            <td class="price">{{ item.SellPrice }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
