<!DOCTYPE html>
<div class="container">
    <div class="header">
      <app-logo-canvas></app-logo-canvas>

    </div>
    <div class="upload-section">
      <div><app-ocr-upload (loadImportedData)="ngOnInit()"></app-ocr-upload></div>
      <div class="row">
        <button class="btn btn-blue" (click)="addItem()">Add Item to the Imported Data</button>
        <button class="btn btn-status" (click)="printerStatus()">Check Printer Status</button>
      </div>
    </div>
    <div class="filter-section input-group mb-3">
      <div>
        <input type="text" #search placeholder="Search Barcode" class="form-control" (keyup.enter)="searchItem(search.value)" />
      <button [class]="isSearchDisabled ? 'btn search-btn' : 'btn btn-primary search-btn'" type="button"
        (click)="searchItem(search.value)" [disabled]="isSearchDisabled">Search</button>
      </div>
      <div class="row">
        <span >Total Quantity:<span id = "totalQuant">{{ totalQuant }}</span></span>
        <span id="received-items">Received items: <span id = "totalCount">{{ totalCount }}</span></span>
      </div>
    </div>



    <div *ngIf = "isLabelPrinter">
      <app-zebra-label-printer [items] = "labelItem" (labelPrinted)="labelPrinted()"></app-zebra-label-printer>
    </div>
    <div *ngIf = "!isLabelPrinter">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Item ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>MSRP</th>
            <th></th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody *ngFor="let item of items">
          <tr *ngIf = "!item.selected">
            <td><mat-checkbox [(ngModel)]="item.selected"></mat-checkbox></td>
            <td>{{ item.ItemId }}</td>
            <td>{{ item.Description | titlecase }}</td>
            <td>{{ item.ItemQuantity }}</td>
            <td class="price">{{ item.SellPrice }}</td>
            <td><button class="btn btn-disable" disabled>Update</button>
            <button class="btn btn-disable" disabled>Delete</button></td>
          </tr>
          <tr *ngIf = "item.selected">
            <td><mat-checkbox [(ngModel)]="item.selected"></mat-checkbox></td>
            <td><mat-form-field >
              <input matInput type="text" placeholder="Enter Item Id" [(ngModel)]="item.ItemId">
            </mat-form-field></td>
            <td><mat-form-field >
              <input matInput type="text" placeholder="Enter Item Description" [(ngModel)]="item.Description">
            </mat-form-field></td>
            <td><mat-form-field >
              <input matInput type="text" placeholder="Enter Item Quantity" [(ngModel)]="item.ItemQuantity">
            </mat-form-field></td>
            <td><mat-form-field >
              <input matInput type="text" placeholder="Enter MSRP of Item" [(ngModel)]="item.SellPrice">
            </mat-form-field></td>
            <td><button class="btn btn-success" (click) = "updateItem(item)">Update</button>
            <button class="btn btn-danger" (click) = "deleteItem(item)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
