mat-form-field {
  margin: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.mat-mdc-dialog-actions {
    margin-left: 408px;
    margin-top: 76px;
}

.mat-mdc-dialog-title {
  padding: 0px 0px 10px 35px;
}
