<h2 mat-dialog-title>Add New Barcode</h2>
<div mat-dialog-content style="position: absolute; top: 50px;">
  <mat-form-field appearance="fill">
    <mat-label>Barcode</mat-label>
    <input matInput [(ngModel)]="data.barcode">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Item Number</mat-label>
    <textarea matInput rows="3" [(ngModel)]="data.itrNum"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirm</button>
</div>
